/**
 * @Author: David Schmotz <David>
 * @Date:   2018-05-04T18:48:22+02:00
 * @Email:  davidschmotz@gmail.com
 * @Filename: main.css
 * @Last modified by:   David
 * @Last modified time: 2018-06-11T23:00:49+02:00
 */

#p5Area {
  overflow: auto;
  width: 100%;
  height: 90%;
}

canvas {
  display: block;
  pointer-events: none;
  overflow: auto;
}

.topBut {
    display: inline-block;
    padding: 10px;
}

.levelbuilder_menu {

}

.blocktype_menu {

}
