/**
 * @Author: David Schmotz <David>
 * @Date:   2018-05-04T18:48:22+02:00
 * @Email:  davidschmotz@gmail.com
 * @Filename: main.css
 * @Last modified by:   David
 * @Last modified time: 2018-06-11T23:00:49+02:00
 */

#p5Area {
  overflow: auto;
  width: 100%;
  height: 90%;
}

canvas {
  display: block;
  pointer-events: none;
  overflow: auto;
}

.topBut {
    display: inline-block;
    padding: 10px;
}

.levelbuilder_menu {

}

.blocktype_menu {

}

#display-backgrounds {
  display: block;
  width: auto;
  white-space: nowrap;
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg-displayer {
  position: absolute;
  background-color: lightgrey;
  bottom: 0;
  top: 80%;
  height: 20%;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
}

.bg-element {
  display: inline-block;
  vertical-align: top;
  max-width: 100px;
  max-height: 100%;
  width: 20%;
  height: 100%;
  padding: 5px;
  word-wrap: break-word;
  text-align: center;
}

.bordered {
  box-sizing: border-box;
  border-radius: 1px;
  border-color: black;
  border-style: solid;
}
